QToolButton {
    border: 1px solid transparent;
    background-color: #3C3D37;

}

QToolButton:hover {
    border: 1px solid transparent;
    background-color: #62635a;
}

QTabWidget::pane {
    border: none;
}

QTabWidget {
    padding: 0px;
    margin: 0px;
}

